{$DOMAIN} {
    reverse_proxy /rtc/* livekit-server:7880
    reverse_proxy /rtc livekit-server:7880
    reverse_proxy livekit-server:7880
    reverse_proxy /token* 172.17.0.1:7890
    log {
        output stdout
    }
}

lazusai.com, www.lazusai.com {
    reverse_proxy 172.20.0.1:2027
    log {
        output stdout
    }
}
